/* src/components/cartaMenu/item/cartaItem.css */

.menu-card-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color del texto de la tarjeta */
}

.menu-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.menu-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  /* height: auto; */
  border-radius: 8px 8px 0 0;
}

.menu-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.menu-card p {
  margin: 0.3rem 0;
  color: #666;
}

.menu-card strong {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #0077cc;
}

.menu-card:hover {
  background-color: #f9f9f9;
  border-color: #ccc;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
